<div class="text-center">

<%= will_paginate %>
</div>
<div class="container">
  <% @phrases.each do |phrase|%>
      <div class="row phrase">
        <%= render partial: 'phrase_element', :locals => {phrase: phrase} %>
      </div>
  <% end %>
</div>
<div class="text-center">
  <%= will_paginate %>
</div>


